/* Override rules for creating custom page layouts on demand. */
.full {
  width: 100% !important;
  float: left;
}

.one-half, .half {
  width: 50% !important;
  float: left;
}

.two-thirds {
  width: 66% !important;
  float: left;
}

.one-third, .third {
  width: 33% !important;
  float: left;
}

.three-fourths {
  width: 75% !important;
  float: left;
}

.one-fourth, .fourth {
  width: 25% !important;
  float: left;
}

.one-fifth {
  width: 20% !important;
  float: left;
}

.two-fifths {
  width: 40% !important;
  float: left;
}

.three-fifths {
  width: 60% !important;
  float: left;
}

.four-fifths {
  width: 80% !important;
  float: left;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.centered {
  margin: 0px auto !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.clear-float {
  clear: both !important;
}

.clickable {
  cursor: pointer !important;
}

.padded {
  padding: 20px !important;
}

.padded-x {
  padding: 0px 20px !important;
}

.padded-y {
  padding: 20px 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.bordered {
  border: 1px solid #AAAAAA !important;
}

.hidden {
  display: none !important;
}

.has-margins {
  margin: 5px !important;
}

.has-margins-x {
  margin: 0px 5px !important;
}

.has-margins-y {
  margin: 5px 0px !important;
}

.no-margins {
  margin: 0px !important;
}

.code {
  border: 1px solid #AAA !important;
  background: #FFF !important;
  padding: 10px !important;
  overflow: auto !important;
}

.maximize-x {
  width: 100% !important;
}

#modevious_console_text {
  width: 568px;
  height: 313px;
  padding: 5px;
  border: 1px solid #AAA;
  background: #000;
  color: #FFF;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.ui-pnotify.stack-bottomright, .ui-pnotify.stack-bottomleft {
  right: auto;
  top: auto;
}

.draggable p, .draggable img, .draggable h1, .draggable h2, .draggable h3, .draggable h4, .draggable h5, .draggable a {
  cursor: auto !important;
}

/* simple css-based tooltip */
.tooltip {
  background-color: #000;
  border: 1px solid #fff;
  padding: 10px 15px;
  width: 200px;
  display: none;
  color: #fff;
  text-align: left;
  font-size: 12px;
  /* outline radius for mozilla/firefox only */
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
}

#soundmanager-debug, #soundmanager-debug-toggle {
  display: none !important;
}

.ui-pnotify-history-container {
  display: none !important;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}