/* Override rules for creating custom page layouts on demand. */
.full {
	width: 100% !important;
	float: left !important;
}
.one-half, .half {
	width: 50% !important;
	float: left !important;
}
.two-thirds {
	width: 66% !important;
	float: left !important;
}
.one-third, .third {
	width: 33% !important;
	float: left !important;
}
.three-fourths {
	width: 75% !important;
	float: left !important;
}
.one-fourth, .fourth {
	width: 25% !important;
	float: left !important;
}
.one-fifth {
	width: 20% !important;
	float: left !important;
}
.two-fifths {
	width: 40% !important;
	float: left !important;
}
.three-fifths {
	width: 60% !important;
	float: left !important;
}
.four-fifths {
	width: 80% !important;
	float: left !important;
}
.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}
.text-justify {
	text-align: justify !important;
}
.centered {
	margin: 0px auto !important;
}
.float-left {
	float: left !important;	
}
.float-right {
	float: right !important;
}
.clear-float {
	clear: both !important;	
}
.clickable {
	cursor: pointer !important;
}
.padded {
	padding: 20px !important;
}
.padded-x {
	padding: 0px 20px !important;
}
.padded-y {
	padding: 20px 0px !important;
}
.no-padding {
	padding: 0px !important;
}
.bordered {
	border: 1px solid #AAAAAA !important;
}
.hidden {
	display: none !important;
}
.has-margins {
	margin: 5px !important;
}
.has-margins-x {
	margin: 0px 5px !important;
}
.has-margins-y {
	margin: 5px 0px !important;
}
.no-margins {
	margin: 0px !important;
}
.code {
	border: 1px solid #AAA !important;
	background: #FFF !important;
	padding: 10px !important;
	overflow: auto !important;
}
.maximize-x {
	width: 100% !important;
}
#modevious_console {
	position: fixed;
	z-index: 100000;
	top: -1000px;
}
#modevious_console_top {
	background: url(console/console_top.png);
	width: 600px;
	height: 50px;
	padding: 0px 20px;
	cursor: move;
	margin: 0px;
}
#modevious_console_middle {
	background: url(console/console_middle.png);
	width: 580px;
	height: 325px;
	padding: 0px 30px;
	margin: 0px;
}
#modevious_console_text {
	width: 568px;
	height: 313px;
	padding: 5px;
	border: 1px solid #AAA;
	background: #000;
	color: #FFF;
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
}
#modevious_console_bottom {
	background: url(console/console_bottom.png);
	width: 640px;
	height: 25px;
	margin: 0px;
	cursor: move;
}
#modevious_minimize_console_button {
	cursor: pointer;
	width: 27px;
	height: 27px;
	margin: 15px 0px 8px 0px;
	float: right;
	background: url(console/minimize.png) no-repeat;
}
.ui-pnotify.stack-bottomright, .ui-pnotify.stack-bottomleft {
	right: auto;
	top: auto;
}
.draggable p, .draggable img, .draggable h1, .draggable h2, .draggable h3, .draggable h4, .draggable h5, .draggable a {
	cursor: auto !important;
}
/* simple css-based tooltip */
.tooltip {
	background-color: #000;
	border: 1px solid #fff;
	padding: 10px 15px;
	width: 200px;
	display: none;
	color: #fff;
	text-align: left;
	font-size: 12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
}
#soundmanager-debug, #soundmanager-debug-toggle {
	display: none !important;
}
/* Generic context menu styles */
.contextMenu {
	position: absolute;
	width: 120px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #EEE;
	padding: 0px;
	margin: 0px;
	display: none;
}

.contextMenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contextMenu A {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

.contextMenu LI.hover A {
	color: #FFF;
	background-color: #3399FF;
}

.contextMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.contextMenu LI.hover.disabled A {
	background-color: transparent;
}

.contextMenu LI.separator {
	border-top: solid 1px #CCC;
}

/*
	Adding Icons
	
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

.contextMenu LI.edit A { background-image: url(images/page_white_edit.png); }
.contextMenu LI.cut A { background-image: url(images/cut.png); }
.contextMenu LI.copy A { background-image: url(images/page_white_copy.png); }
.contextMenu LI.paste A { background-image: url(images/page_white_paste.png); }
.contextMenu LI.delete A { background-image: url(images/page_white_delete.png); }
.contextMenu LI.quit A { background-image: url(images/door.png); }
/* 
	Document   : jquery.pnotify.default.css
	Created on : Nov 23, 2009, 3:14:10 PM
	Author     : Hunter Perrin
	Version    : 1.0.0
	Description:
		Default styling for Pines Notify jQuery plugin.
*/

/* Notice
----------------------------------*/
.ui-pnotify {
	top: 18px;
	right: 18px;
	position: absolute;
	height: auto;
	/* Ensure that the notices are on top of everything else. */
	z-index: 9999;
}
/* This hides position: fixed from IE6, which doesn't understand it. */
html > body .ui-pnotify {
	position: fixed;
}
.ui-pnotify .ui-pnotify-shadow {
	margin: 0;
	position: absolute;
	top: .1em;
	left: .1em;
	bottom: -.2em;
	right: -.2em;
	z-index: -1;
}
.ui-pnotify-container {
	background-position: 0 0;
	padding: .8em;
	height: 100%;
}
.ui-pnotify-closer {
	float: right;
	margin-left: .2em;
}
.ui-pnotify-title {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: .4em;
}
.ui-pnotify-text {
	display: block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
	display: block;
	float: left;
	margin-right: .2em;
}
/* History Pulldown
----------------------------------*/
.ui-pnotify-history-container {
	position: absolute;
	top: 0;
	right: 18px;
	width: 70px;
	border-top: none;
	/* Ensure that the history container is on top of the notices. */
	z-index: 10000;
	/* Modevious modification, hide the container by default */
	display: none;
}
.ui-pnotify-history-container .ui-pnotify-history-header {
	padding: 2px;
}
.ui-pnotify-history-container button {
	cursor: pointer;
	display: block;
	width: 100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown {
	display: block;
	margin: 0 auto;
}.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}/* SM2 troubleshooting CSS */

#sm2-test {
 position:relative;
 background:#f6f6f6;
 border:1px solid #eee;
 padding:3px;
}

#sm2-test,
#sm2-test ul.items {
 -moz-border-radius:3px;
 -khtml-border-radius:3px;
 -webkit-border-radius:3px;
}

#sm2-test ul.items {
 position:relative;
 background:#fff;
 list-style-type:none;
 margin:0px;
 padding:0px;
 border:1px solid #ccc;
}

#sm2-test ul.items li {
 position:relative;
 margin-left:0.5em;
 padding-left:0.5em;
 margin-right:0.5em;
 padding-right:0.5em;
}

#sm2-test ul.items li h3 {
 padding-top:0.3em;
 margin-top:0px;
 border-bottom:1px solid #ccc;
}

#sm2-test ul.items li:last-child h3 {
 border-bottom:none;
}

#sm2-test ul.items li div.details {
 border-bottom:1px solid #ccc;
}

#sm2-test ul.items li:hover div.details {
 border-bottom:1px solid #ccc;
}

#sm2-test ul.items li.open:last-child h3,
#sm2-test ul.items li.fail:last-child h3,
#sm2-test ul.items li:last-child div.details:last-child {
 border-bottom:1px solid #fff;
}

#sm2-test ul.items li div.details {
 display:none; 
}

#sm2-test ul.items li.open div.details,
#sm2-test ul.items li.unknown div.details,
#sm2-test ul.items li.fail div.details {
 display:block;
}

#sm2-test ul.items li span.yay,
#sm2-test ul.items li span.boo,
#sm2-test ul.items li span.default,
#sm2-test ul.items li span.unknown {
 display:none;
}

#sm2-test ul.items li span.yay,
#sm2-test ul.items li.pass span.msg {
 color:green;
}

#sm2-test ul.items li span.boo,
#sm2-test ul.items li.fail span.msg {
 color:red;
}

#sm2-test ul.items li span.default,
#sm2-test ul.items li.default span.msg {
 color:#ccc;
}

#sm2-test ul.items li span.unknown,
#sm2-test ul.items li.unknown span.msg {
 color:#666;
}

#sm2-test ul.items li.default span.msg {
 display:none; /* hide messages in the event a reset occurs */
}

#sm2-test ul.items li.pass span.yay,
#sm2-test ul.items li.fail span.boo,
#sm2-test ul.items li.default span.default,
#sm2-test ul.items li.unknown span.unknown {
 float:right;
 display:inline;
}

#sm2-container.flash_debug {
 /* flash movie, when soundManager.debugFlash = true */
 position:relative;
 width:auto;
 height:300px;
 width:100%;
 background:#f6f6f6;
 border:1px solid #ccc;
}

#sm2-container.flash_debug object,
#sm2-container.flash_debug embed {
 border:1px solid #fff;
}